.bg-dark{
    background: rgb(56,56,56);
}
.text-Change {
    color: white;
}
.image-change{
    padding: 10px;
    width: calc(100% - 20px);
    border-radius:20px  ;
}
.custom-Button, .custom-Button button{
    border-color: white;
    color: white;
}
.shopping-card{
    position: fixed;
    top: 0px;
    right: 10px;
}
.hiddenButton{
    display: none;
}